/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


/* global font style */
:root {
  --font-main: 'operatorMonoBoldItalic', sans-serif;
  --boxShadow: 0 4px 6px rgba(0, 0, 0, 0.52), 0 3px 4px rgba(0, 0, 0, 0.44);
  --menu-background: rgba(0, 0, 0, 0.5);
  --menu-border-color: #fff;
  --menu-font-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  --form-height:6rem;
  --form-content-size:2rem;
}

canvas {
  background-color: black;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

img {
  display: none;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--form-content-size);
}

form * {
  font-size: var(--form-content-size);
}

input[type='checkbox'] {
  width: var(--form-content-size);
  height: var(--form-content-size);
}

main {
  display: flex;
  height: calc(100% - var(--form-height));
}

label {
  color: white;
}
